.about-us{
    display: flex;
    min-height: 720px;
    overflow: hidden;
}

.about-us__image{
    flex:1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    
    background: var(--color-white);
    position: relative;
}

.about-us__image div{
    flex : 1;
    display : flex;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}


.about-us__image-s1{
    border-bottom: 8px solid var(--color-creamson);
}

.about-us__image-s1 , .about-us__image-s2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10px;

}

.about-us__image-s1 img , .about-us__image-s2 img{
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.about-us__button{
    position: absolute;
    right: 0;

    padding: 12px 32px;
    min-height: 64px;

    background: var(--secondary-color);
    border-radius: 32px 0 0 32px;

    border: 0;
    outline: 0;
    color: #fff;
    font-family: var(--plus-jakarta-sans);
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    cursor : pointer;
}

.about-us__button img{
    object-fit:contain;
    margin-left: 32px;
}

.about-us__content{
    padding: 64px;
    flex :1;
    display: flex;
    justify-content: center;
    flex-direction: column;
}